<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Claims
        </ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-title>
            Total: {{ total | currency:'GBP' }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col size-md="8" offset-md="2">
                <ion-list>
                    <ion-item-sliding *ngFor="let receipt of loadedReceipts" #slidingItem>
                        <ion-item [routerLink]="[ '/home/receipt-detail', receipt.id ]" class="ion-no-padding">
                            <ion-label>Claim value: {{ receipt.amount | currency:'GBP' }}</ion-label>
                            <ion-avatar slot="start">
                                <img [src]="receipt.imgSrc" />
                            </ion-avatar>
                            <ion-label>Date</ion-label>
                            <p class="ion-padding">{{receipt.date | date: "dd/MM/yyyy"}}</p>
                        </ion-item>
                        <ion-item-options side="start">
                            <ion-item-option color="danger" (click)="delete(receipt, slidingItem)">
                                <ion-icon slot="icon-only" name="trash"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
        <ion-fab-button [routerLink]="['/', 'home','new-claim']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>